pkgbase = niri-session-env-fix
	pkgdesc = Niri session launcher without systemd import-environment deprecation warning
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = niri
	provides = niri-session-env-fix
	source = niri-session
	sha256sums = SKIP

pkgname = niri-session-env-fix
