pkgbase = xwayland-satellite-dnd-fix
	pkgdesc = xwayland-satellite main branch with copy-only XDND and reliable clipboard ownership
	pkgver = 0.8.2.r9.g78e4e01
	pkgrel = 1
	url = https://github.com/Supreeeme/xwayland-satellite
	arch = x86_64
	license = MPL-2.0
	license = GPL-2.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libxcb
	depends = xcb-util-cursor
	depends = xorg-xwayland
	provides = xwayland-satellite
	conflicts = xwayland-satellite
	source = xwayland-satellite::git+https://github.com/Supreeeme/xwayland-satellite.git
	source = 0001-add-copy-only-xdnd-and-fix-stale-selections.patch
	source = 0002-ignore-stale-x11-selection-owner-destroy.patch
	sha256sums = SKIP
	sha256sums = 174c7bb2a81b82d28bada4a69aac2e56c91f4eed3c5b646dc04b26c73cd6d45c
	sha256sums = SKIP

pkgname = xwayland-satellite-dnd-fix
