pkgbase = xwayland-satellite-dnd-fix
	pkgdesc = xwayland-satellite main branch with bidirectional Wayland/X11 XDND
	pkgver = 0.8.2.r9.g78e4e01
	pkgrel = 7
	url = https://github.com/Supreeeme/xwayland-satellite
	arch = x86_64
	license = MPL-2.0
	license = GPL-2.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libxcb
	depends = xcb-util-cursor
	depends = xorg-xwayland
	provides = xwayland-satellite
	conflicts = xwayland-satellite
	source = xwayland-satellite::git+https://github.com/Supreeeme/xwayland-satellite.git
	source = 0001-bidirectional-xdnd.patch
	sha256sums = SKIP
	sha256sums = 9691b1919fa23bdef9f102c5b57ef5b59f98b70f4c486f33ef25f55ddbb27904

pkgname = xwayland-satellite-dnd-fix
